<div class="col-md-12 text-center">
    <h5>CAMPEONATO DE FILMES</h5>
</div>
<div class="col-md-12 text-center">
    <h3>Resultado Final</h3>
    <hr />
</div>
<div class="col-md-12 text-center">
    <h6>Veja o resultado final do Campeonato de filmes de forma simples e rápida</h6>
</div>
