<div class="col-md-12 text-center">
    <h5>CAMPEONATO DE FILMES</h5>
</div>
<div class="col-md-12 text-center">
    <h3>Fase de Seleção</h3>
    <hr />
</div>
<div class="col-md-12 text-center">
    <h6>Selecione 16 filmes que você deseja que entrem na competição e depois pressione o <br /> botão Gerar Meu Campeonato para prosseguir</h6>
</div>