
@{
    ViewBag.Title = "ResultadoFinal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="row div-header-default">
        @Html.Partial("_PartialFaseFinalHeader")
    </div>
</div>
