################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#Visual Studio files
obj/
bin/
.vs/
*.ide
*.ide-shm
*.ide-wal
*.suo